<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes | </title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <header class="header">
        <h1>CodeMaster</h1>
        <form action="">
            <input type="text" placeholder="buscar...">
            <button type="submit">buscar</button>
        </form>
    </header>

    <nav>
        <ul><button><a href="../index.html">INICIO</a></button></ul>
        <ul><button><a href="./carreras.html">CARRERAS</a></button></ul>
        <ul><button><a href="../forms/formulario1.html">INSCRIBIRSE</a></button></ul>
    </nav>
    <main>
        <div class="faq-intro">
            <h1>Preguntas Frecuentes</h1>
            <p>Aquí encontrarás preguntas e información útil para despejar todas tus dudas!</p>
        </div>
        <details>
            <summary>¿Necesito conocimientos previos para empezar?</summary>
            <p>No, nuestros cursos están diseñados para principiantes y avanzados.</p>
        </details>

        <details>
            <summary>¿Los cursos son online o presenciales?</summary>
            <p>Ofrecemos ambas modalidades para adaptarnos a tus necesidades.</p>
        </details>

        <details>
            <summary>¿Entregan certificado al finalizar?</summary>
            <p>Sí, todos nuestros cursos incluyen un certificado de finalización.</p>
        </details>

        <details>
            <summary>¿Cuánto duran los cursos?</summary>
            <p>La duración varía según el curso, pero en promedio entre 4 y 12 semanas.</p>
        </details>

        <details>
            <summary>¿Puedo pagar en cuotas?</summary>
            <p>Sí, contamos con diferentes opciones de pago y financiación.</p>
        </details>
    </main>

    <footer>
        <p>Academia-Codemaster — 2026</p>
    </footer>
</body>

</html>